---
import { getOneOffre } from "../../js/backend.mjs"
import Layout  from '../../layouts/Layout.astro';

const { id } = Astro.params;
const offre = await getOneOffre(id);
if(!offre){
    return Astro.redirect('/offres');
}
---

<Layout titre={offre.nomMaison}>
    <h1 class="font-bold uppercase text-purple-400 flex justify-center text-4xl mt-10">{offre.nomMaison}</h1>
    <div class="grid grid-cols-2 justify-between my-16 mx-20">
        <div class="left">
            <img class="rounded" src={offre.imageUrl} alt={`Image de ${offre.nomMaison}`} />
        </div>
        <div class="ml-10 flex items-center">
            <ul class="space-y-14">
                <li class="text-purple-400 font-bold">Adresse : {offre.adresse}</li>
                <li class="text-purple-400 font-bold">Surface : {offre.surface} m²</li>
                <li class="text-purple-400 font-bold">{offre.nbrSdb} salle(s) de bain</li>
                <li class="text-purple-400 font-bold">{offre.nbrChambres} chambre(s)</li>
                <li class="text-purple-400 font-bold">{offre.prix} €</li>
                <li class="text-purple-400 font-bold">Favori : <span class={offre.favori ? 'text-green-500' : 'text-red-500'}>{offre.favori ? 'Oui' : 'Non'}</span></li>
            </ul>
        </div>
     </div>
    <div class="flex justify-center">
        <button class="button bg-purple-400 hover:bg-purple-500 text-white font-bold py-2 px-4 rounded" onclick="history.back()">Retour aux offres</button>
    </div>
</Layout>